<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dbventas" connectionString="Data Source=CASA-PC;Initial Catalog=datosventas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
   
    </connectionStrings>
   
</configuration>
